In [1]:
# import the libraries needed to write a file to s3

import pandas as pd

import boto3
from io import StringIO

In [2]:
# load the .csv file we created earlier or feel free to create a new variable containing some data

sample_df = pd.read_csv("../data/sample_file.csv")
sample_df # check it is the file you expected

    name  age
0  Sarah   34
1    Bob  100

In [3]:
# create three new variables and include the relevant information

AWS_ACCESS_KEY_ID = "XXXXX" # this is your AWS Access Key ID
AWS_SECRET_ACCESS_KEY = "YYYY" # This is your AWS Secret Access Key. Keep safe!
AWS_S3_BUCKET = "ZZZZZ" # This is name of the bucket you generated

In [4]:
# use boto3 to connect to AWS s3 buckets

s3_client = boto3.client(
    "s3",
    aws_access_key_id=AWS_ACCESS_KEY_ID,
    aws_secret_access_key=AWS_SECRET_ACCESS_KEY
)

In [5]:
key = "sample_file.csv" # define the name of the file

csv_buffer = StringIO() # create buffer to temporarily store the Data Frame

sample_df.to_csv(csv_buffer, index=False) # code to write the data frame as csv file
response = s3_client.put_object(
        Bucket=AWS_S3_BUCKET, Key=key, Body=csv_buffer.getvalue()
    ) # this code writes the temp stored csv file and writes to s3

print("Dataframe is saved as CSV in S3 bucket.") # prints a statement to let us know the file has been written

Dataframe is saved as CSV in S3 bucket.

In [6]:
# check the s3 bucket or use code to read file from s3
# pass in the name of the file where key = ????

response = s3_client.get_object(Bucket=AWS_S3_BUCKET, Key=key)
sample_df_1 = pd.read_csv(response.get("Body"))

In [7]:
sample_df_1

# wahoo! everything works

    name  age
0  Sarah   34
1    Bob  100

In [8]:
# advanced and optional
# store the variables as environment variables

# Resource: 
# Windows >>
# https://docs.oracle.com/en/database/oracle/machine-learning/oml4r/1.5.1/oread/creating-and-modifying-environment-variables-on-windows.html
# Mac >> https://phoenixnap.com/kb/set-environment-variable-mac

import os

AWS_ACCESS_KEY_ID = os.getenv("AWS_ACCESS_KEY_ID")
AWS_SECRET_ACCESS_KEY = os.getenv("AWS_SECRET_ACCESS_KEY")

# Useful Resource:
https://towardsdatascience.com/reading-and-writing-files-from-to-amazon-s3-with-pandas-ccaf90bfe86c